 .parr{
    height: auto;
    width: auto;
    padding: 1px;
    display: flex;
   flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 

.par{
    height: 350px;
    width: 100%;
 
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
   
 
}
.card{
 
    padding: 8px;
    height: 308px;
    width: 280px;

   
    box-shadow: 2px 8px 15px pink;
    border-radius: 5px;

}
.cardimg{
    height: 180px;
    width: 280px;
       background-size: cover; 
       border-radius: 2px;
     object-fit: cover; 
  object-position: center;
}
.context{
    height: 80px;
    width: auto;
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    height: 42px;
    width: auto;

     display: flex;
    justify-content: center;
    align-items: center;
}
 .btt{
    height: 27px;
    width: 100px;
    background-color: navy;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.ban{
    padding: 3px;
    height: 420px;
    width: 100%;
    
}
.bban{
    height: 410px;
    width: 100%;
     background-size: cover; 
       border-radius: 2px;
 
}









